* {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-image: url(Multimedia/Imagenes/background_studio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

header {
    width: 100%;
    background-image: url(Multimedia/Imagenes/textura_blanca_menu.jpg);
    background-size:auto;
    background-attachment: fixed;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    z-index: +2;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-header {
    padding: 20px;
}

.logo {
   
    display: flex;
    justify-content: flex-start;
    width: 30%; 
}

.menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
 
ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 1px solid black;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    flex-wrap: wrap;
}

a {
    color: black;
    text-decoration: none;
}

.paragraph-bio {
    background-image: url(Multimedia/Imagenes/banner_bio.jpg);
    background-size: contain;
    background-attachment: fixed;
    color: antiquewhite;
    padding: 40px;
}

h1 , h2 {
    color:bisque;
    margin: 150px 40px 40px 40px;
}

h3 {
    color:rgb(240, 187, 119) ;
    padding: 20px 0px 40px 0px;
}

.discos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

div {
    margin: 0px;
}

.colab-artist {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin: 40px;
    padding: 40px;
}

footer {
    margin: 40px;
}


.discos-dimensions {
    width: 100%;
}

section {
    padding: 10px 0px 10px 0px;
}

.grid-container {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: "grid-item1 grid-item2 grid-item3";
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
 
.grid-item1 {
    width: 400px;
    height: 300px;
}

.grid-item2 {
    width: 400px;
    height: 300px;
}

.grid-item3 {
    width: 400px;
    height: 300px;
}

.carouselstyle {
 padding-top:120px ;
 display: flex;
 justify-content: center;

}
