@import '../base/listas';
* {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    body {
        font-family: 'Lato', sans-serif;
        text-align: center;
        background-image: url(../Multimedia/Imagenes/background_studio.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        section {
            padding: 10px 0px 10px 0px;
        }
        nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        div {
            margin: 0px;
        }
        h1 {
            font-size:xx-large;
            color: nth($colores, 2 );
            margin: 150px 40px 40px 40px;
        }
        h2 {
            font-size:xx-large;
            color: nth($colores, 2 );
            margin: 150px 40px 40px 40px;
        }
        
        h3 {
            font-size:x-large;
            color: nth($colores, 3 );
            padding: 20px 0px 40px 0px;
        }
        a {
            color: nth($colores , 1);
            text-decoration: none;
        }
    }
}