footer {
    margin: 40px;
    
    .ico-insta:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .ico-faceb:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .ico-yt:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .ico-tw:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .ico-spoty:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .ico-soundc:hover {
        transform: scale(1.5);
        transition-property: all;
        transition-duration: 0.5s;
    }


}