// Estilos Header //
@import '../base/mixing';
header {
    width: 100%;
    position: fixed;
    @include flexer (flex, center);
    top: 0px;
    z-index: +2;

    .navbar {
        padding: 10px 100px 10px 100px;
        
    }

    .nav-header {
        padding: 20px;

        .logo {
            display: flex;
            justify-content: flex-start;
            width: 30%; 
            }
        ul {
            display: flex;
            flex-wrap: wrap;
            .menu {
                @include flexer (flex, center);
                align-content: center;
                align-items: center;
            }
            .nav-item {
                border: 1px solid black;
                display: flex;
                margin: 10px;
                padding: 10px;
                border-radius: 25px;
                flex-wrap: wrap;
            }

            .nav-item:hover {
                transform: scale(1.2);
                transition-property: all;
                transition-duration: 0.5s;
                background-color :bisque;
            }             
        }
    }
}



 





 






