.paragraph-bio {
    background-image: url(../Multimedia/Imagenes/banner-bio.svg);
    width: 60%;
    border-radius: 20px;
    justify-content: center;
    background-size: contain;
    background-attachment: fixed;
    color: nth($colores, 1);
    padding:90px 7%;
    margin: 0% auto;
    font-size:x-large;

}
