%animacion-ico {
    transform: scale(1.5);
  transition-property: all;
  transition-duration: 0.5s;
}

%animacion {
    transform: scale(1.2);
  transition-property: all;
  transition-duration: 0.5s;
}